{% extends "Blog/padre2.html" %}

{% load static %}

{% block ContenidoQueCambia %}

<title>About Me</title>

<p>Mi nombre es Agustin Masson y soy el diseñador de esta página web tipo blog, nací el 1 de diciembre de 1997 en la ciudad de Olavarría, provincia de Buenos Aires, Argentina.
    <br>Soy ingeniero industrial, recibido en la Facultad de Ingeniería de la UNICEN el 7 de marzo de 2022, y fanático de la NBA, como se podrán dar cuenta.
    <br>La idea de este blog es tener la oportunidad de poder postear distintas pages estilo blog de diversos temas relacionados con la NBA, ya sea noticias, opiniones, preferencias y cualquier información pertinente a la actualidad o a la historia de la liga más importante del mundo del básquet.
    <br>Espero les guste y muchas gracias por todos los conocimientos transmitidos, muy buen curso!
</p>

{% endblock %}