{% extends "Blog/padre2.html" %}

{% load static %}

{% block ContenidoQueCambia %}

  <section class="u-clearfix u-image u-section-1" id="carousel_992d" data-image-width="787" data-image-height="702">
    <div class="u-black u-container-style u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout u-valign-top u-container-layout-1">
        <h2 class="u-align-center u-subtitle u-text u-text-1">
          <span style="font-weight: 700;" class="u-text-custom-color-2"> THE OFFICIAL&nbsp;BLOG</span>
          <br>Where you can be a part of the best basketball league in the world!
        </h2>
      </div>
    </div>
  </section>

{% endblock %}